a {
	color: hotpink;
}

#myHeader {
	width: 100%	;
	height: 100px;
}

.header{
	margin: 0;
	padding: 0;
}

.subheader{
	font-size: 25px;
	font-family: 'Lobster Two' ,times, serif;
	font-variant-position: left;
	color: blue;	
}

.slideshow{
	align: left;
}

#wholePage {

	background-image: url('../img/skyblue.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	min-height: 100%;
}


#briefIntro {
	font-family: times, serif;
	text-align: left;
}

#introPhoto{
	display: block;
	margin: 0 auto;
}
